.note {
  margin: 2%;
  width: 29%;
  float: left;
  &-0 {
    display: none;
  }
  .date {
    width: 50%;
    float: left;
  }
  .id {
    width: 50%;
    float: left;
    text-align: right;
  }
  .value {
    float: left;
  }
}
